@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a great application for your events. 
    If you click "All events" you can see your events. 
    By clicking on the name of one of the events you are redirected and you can see all the details about that event.</p>
</div>
